/* Webfont: Antwerpen-Regular */@font-face {
    font-family: 'Antwerpen';
    src: url('../fonts/Antwerpen-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Antwerpen-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Antwerpen-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Antwerpen-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Antwerpen-Regular.svg#Antwerpen-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body{
  font-family: 'Antwerpen';
}
p{
  font-family: Georgia;
}
.none-margin{
  margin: 0;
}
.nav{overflow:hidden;}

.viewMap{
  margin-top: -80px;
}
.createMap{
  margin-top: -25px;
}















/*-----------------------------Mobile nav-----------------------------------*/
.mNav{display: none;}
.mNavB a{margin: 0;}
.topNav div{
  margin-top: 17px;
  width: 3em;
  text-align: center;
}
.topNav h6 {
  color: #9d9d9d;
  font-size: 0.6em;
 }

.topNav{
margin: 0 auto;
font-size: 1.8em;
}
@media only screen and (max-width: 768px) {

    .bigNav, .topNav{display: none;}
    .topNav li{color: #9d9d9d;}
    .mNavAll{text-align: center;}
    .mNav{
      display: block;
      z-index: 5;
    }
    .mNavB li, a{
      padding: 10px;
      color: #9d9d9d;
    }
    .mNavB a:hover{
      color: white;
      text-decoration: none;
    }

}
