html, body {
    background-color: #fff;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
.full {
    background: url('../img/Antwerp.jpg') no-repeat top ;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
}
.homeContent{
  color: black;
}
.bigNav{
  position: relative;
  margin-top: 25em;
  color: black;
}

footer{
  margin-top: 10em;
  padding: 5em 0;
  text-align: center;
}
.foos{
  background-color: #CF0039;
  color: white;
}
