

html, body {
    background-color: #fff;
    color: #fff;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
.full {
    background: url('../img/Antwerp.jpg') no-repeat top ;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
}
.homeContent{
  color: black;
  display: block;
}
.bigNav{
  margin-top: 5em;
}
.bigNav h4{
  font-size: 1.5em;
}
.icons{
  text-align: center;
  margin: 0 auto;
}
.icon{
  color: white;
  border: 0.2em white solid;
  padding: 1em 0;
}
.icon{color: white;}
.icons i:hover{

}

footer{
  margin-top: 10em;
  color: white;
  padding: 2em 0;
  background-color: #CF0039;
}
.foos{
  background-color: #CF0039;
}
.foos a{
  color: white;
}
.foos a:hover{
  color: lightgray;
}
.rights h5{
  padding: 4em 0 0 0;
  text-align: center;
  margin: 0;
}
.hero h4{
  transition:all 0.5s ease-in-out;
}
.hero .result_hover h4{
  color: #CF0039;
}
.hero .result_hover i{
  color: #CF0039;

}



@media only screen and (max-width: 1000px) {
  .icons{font-size: 0.8em}
}
@media only screen and (max-width: 768px) {
  footer h3{
    font-size: 2em;
  }
}
